# Likes Report
- Morgan Rawski
- 9/7/2025

## Section 1: Questions about data
1. Who or what is the source of your personal Instagram data? (You downloaded the data, but did you create it?)
- This is my Instagram data that was downloaded from Meta. Meta put it together based on my interactions with their Instagram and Facebook apps.
2. Why was this data created and what purposes can the data serve?
- This data was created to allow users to see their statistics in my social media activity and for those interested, they can make a hypothesis to evaluate based on this data to find trends or significance to their social media interactions.
3. In what ways may this data be reliable?
- This data may be reliable because it is raw data that has not been tweaked in any way and it is my data, so it is more relavent than if I were using someone else's data.
4. In what ways may this data be unreliable?
- It may not tell me about something that I am looking for specifically in my data and I often do not have my precise location turned on which can affect certain details for the evaluation of the data.

## Section 2
open and load the json file

In [2]:
# These are the imports we need
import json
import pandas as pd
import matplotlib as plt

In [3]:
path = r"/Users/morawski28/Downloads/instagram-mormraw28-2025-09-10-TEvec6p4/your_instagram_activity/likes/liked_posts.json"
with open(path) as l:
    dict = json.load(l)

## Section 3
Convert the data into DataFrame object and assign it to a new variable using pandas DataFrame function.

In [4]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'barstoolkent', 'string_list_data': ...
1  {'title': 'valorynewton', 'string_list_data': ...
2  {'title': 'sierratwirls88', 'string_list_data'...
3  {'title': 'ellie_fish14', 'string_list_data': ...
4  {'title': 'fab_ksu', 'string_list_data': [{'hr...

In [5]:
dict.keys()

dict_keys(['likes_media_likes'])

In [6]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

            title                                   string_list_data
0    barstoolkent  [{'href': 'https://www.instagram.com/p/DOWU5HL...
1    valorynewton  [{'href': 'https://www.instagram.com/p/DOTn2K3...
2  sierratwirls88  [{'href': 'https://www.instagram.com/p/DOTsYfs...
3    ellie_fish14  [{'href': 'https://www.instagram.com/p/DOT1lvi...
4         fab_ksu  [{'href': 'https://www.instagram.com/p/DOWM7AO...

## Section 4
Extract and input like's timestamp into table

In [7]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DOWU5HLETt1/',
  'value': 'ð\x9f\x91\x8d',
  'timestamp': 1757358467}]

In [8]:
type(df_tidy['string_list_data'].iloc[0])

list

In [9]:
len(df_tidy['string_list_data'].iloc[0])

1

In [10]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DOWU5HLETt1/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1757358467}

In [11]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1757358467

In [12]:
df_tidy['Time of Like'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287

In [13]:
# good to have
from datetime import datetime
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [14]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47

In [15]:
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/

In [16]:
df_tidy['value'] = [ i[0]['value'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð

In [17]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href,value
0,barstoolkent,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð
...,...,...,...,...,...
3110,crystal_demilio,1725926714,2024-09-09 20:05:14,https://www.instagram.com/p/C_rGufDgL8F/,ð
3111,shotbyjoah,1725926443,2024-09-09 20:00:43,https://www.instagram.com/p/C_raeU5gLsx/,ð
3112,sienna.garcia02,1725831094,2024-09-08 17:31:34,https://www.instagram.com/p/C_odSSHRv9A/,ð
3113,addisongs22,1725831046,2024-09-08 17:30:46,https://www.instagram.com/p/C_qQG_LplIJ/,ð
3114,ellie.rymers,1725830592,2024-09-08 17:23:12,https://www.instagram.com/p/C_qgOQVxJ4B/,ð

In [18]:
type(df_tidy['string_list_data'].iloc[0])

list

In [19]:
len(df_tidy['string_list_data'].iloc[0])

1

In [20]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DOWU5HLETt1/',
 'value': 'ð\x9f\x91\x8d',
 'timestamp': 1757358467}

In [21]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1757358467

In [22]:
df_tidy['Time of Like'] = [ i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð

In [25]:
# good to have
from datetime import datetime
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

In [26]:
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð

In [27]:
df_tidy['href'] = [ i[0]['href'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð

In [28]:
df_tidy['value'] = [ i[0]['value'] for i in df_tidy['string_list_data']]
df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,barstoolkent,[{'href': 'https://www.instagram.com/p/DOWU5HL...,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,[{'href': 'https://www.instagram.com/p/DOTn2K3...,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,[{'href': 'https://www.instagram.com/p/DOTsYfs...,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,[{'href': 'https://www.instagram.com/p/DOT1lvi...,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,[{'href': 'https://www.instagram.com/p/DOWM7AO...,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð

In [29]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href,value
0,barstoolkent,1757358467,2025-09-08 15:07:47,https://www.instagram.com/p/DOWU5HLETt1/,ð
1,valorynewton,1757358317,2025-09-08 15:05:17,https://www.instagram.com/p/DOTn2K3Do5e/,ð
2,sierratwirls88,1757358302,2025-09-08 15:05:02,https://www.instagram.com/p/DOTsYfskcnj/,ð
3,ellie_fish14,1757358290,2025-09-08 15:04:50,https://www.instagram.com/p/DOT1lviAC3s/,ð
4,fab_ksu,1757358287,2025-09-08 15:04:47,https://www.instagram.com/p/DOWM7AOjuHj/,ð
...,...,...,...,...,...
3110,crystal_demilio,1725926714,2024-09-09 20:05:14,https://www.instagram.com/p/C_rGufDgL8F/,ð
3111,shotbyjoah,1725926443,2024-09-09 20:00:43,https://www.instagram.com/p/C_raeU5gLsx/,ð
3112,sienna.garcia02,1725831094,2024-09-08 17:31:34,https://www.instagram.com/p/C_odSSHRv9A/,ð
3113,addisongs22,1725831046,2024-09-08 17:30:46,https://www.instagram.com/p/C_qQG_LplIJ/,ð
3114,ellie.rymers,1725830592,2024-09-08 17:23:12,https://www.instagram.com/p/C_qgOQVxJ4B/,ð

## Section 5

In [30]:
df_tidy.groupby('title').count().sort_values('value', ascending = False)

                    string_list_data  Time of Like  Date of Like  href  value
title
nickhuenefeld                    134           134           134   134    134
signaturebankna                  113           113           113   113    113
devs_springfieldsb               113           113           113   113    113
trisigmaksu                      110           110           110   110    110
fab_ksu                          107           107           107   107    107
...                              ...           ...           ...   ...    ...
joahherman                         1             1             1     1      1
john__stanson                      1             1             1     1      1
jon_huston3                        1             1             1     1      1
jonathan.specht8                   1             1             1     1      1
yuletide.family                    1             1             1     1      1

[416 rows x 5 columns]

# Section 6
- In a Markdown cell, state a hypothesis that could be tested using some of your personal Instagram, Facebook, or TikTok data (other than the "likes" data file).
    - I would like to test how often I view with people's stories on Instagram. I believe that I view with Instagram stories more in the evening because I have more time to look at them.
- Explain the theoretical and statistical elements of your hypothesis.
    - The theoretical element of my hypothesis is that I think I can use my Instagram story data to see if there is a trend of when I view all the different stories that appear on my Instagram profile. The statistical element of my hypothesis is that I want to try to pull my timestamp data from Instagram and sort it to see if I view them more in the morning or in the evening.

# Section 7
- After reviewing the other files in your personal social media data, choose a JSON file that you think might help you test your hypothesis.
- Explain what you think the JSON file contains and how it will help you test your hypothesis.
    - I think that the stories JSON file may help me to test my hypothesis because it is all the data surrounding stories associated with my Instagram profile, but I am nervous that it may not give me the specific information that I am looking for.

# Section 8
open and load the JSON data

In [90]:
# These are the imports we need
import json
import pandas as pd
import matplotlib as plt

In [91]:
path = r"/Users/morawski28/Downloads/instagram-mormraw28-2025-09-10-TEvec6p4/your_instagram_activity/media/stories.json"
with open(path) as l:
    dict = json.load(l)

# Section 9
Convert the data to the most "tidy" DataFrame object you can.

In [92]:
df = pd.DataFrame(dict)
df.head()

                                          ig_stories
0  {'uri': 'media/stories/202509/540566439_179147...
1  {'uri': 'media/stories/202509/541196959_179147...
2  {'uri': 'media/stories/202509/542744242_179147...
3  {'uri': 'media/stories/202509/541949739_179147...
4  {'uri': 'media/stories/202509/541141665_179146...

In [93]:
dict.keys()

dict_keys(['ig_stories'])

In [94]:
df_tidy = pd.DataFrame(dict['ig_stories'])
df_tidy.head()

,uri,creation_timestamp,media_metadata,title,cross_post_source,dubbing_info,media_variants
0,media/stories/202509/540566439_179147986951895...,1757031529,{'photo_metadata': {'exif_data': [{'device_id'...,@alimcdonald.19 ðð,{'source_app': 'FB'},NaN,NaN
1,media/stories/202509/541196959_179147872441895...,1757018227,{'photo_metadata': {'exif_data': [{'device_id'...,@itsss.jocy @alimcdonald.19 @_abigailkinney ...,{'source_app': 'FB'},NaN,NaN
2,media/stories/202509/542744242_179147712271895...,1757005667,{'photo_metadata': {'exif_data': [{'device_id'...,@itsss.jocy ðð©·,{'source_app': 'FB'},NaN,NaN
3,media/stories/202509/541949739_179147333071895...,1757002441,{'photo_metadata': {'exif_data': [{'device_id'...,@adelaide.sallas ðð,{'source_app': 'FB'},NaN,NaN
4,media/stories/202509/541141665_179146118731895...,1756908305,{'photo_metadata': {'exif_data': [{'device_id'...,Come see me at 6 tonight out front of the sigm...,{'source_app': 'FB'},NaN,NaN

In [95]:
# good to have
from datetime import datetime
df_tidy['Date of Like'] = [ datetime.fromtimestamp(i) for i in df_tidy['creation_timestamp']]

#df_tidy['Date of Like'] = [ datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]
df_tidy.head(10)

,uri,creation_timestamp,media_metadata,title,cross_post_source,dubbing_info,media_variants,Date of Like
0,media/stories/202509/540566439_179147986951895...,1757031529,{'photo_metadata': {'exif_data': [{'device_id'...,@alimcdonald.19 ðð,{'source_app': 'FB'},NaN,NaN,2025-09-04 20:18:49
1,media/stories/202509/541196959_179147872441895...,1757018227,{'photo_metadata': {'exif_data': [{'device_id'...,@itsss.jocy @alimcdonald.19 @_abigailkinney ...,{'source_app': 'FB'},NaN,NaN,2025-09-04 16:37:07
2,media/stories/202509/542744242_179147712271895...,1757005667,{'photo_metadata': {'exif_data': [{'device_id'...,@itsss.jocy ðð©·,{'source_app': 'FB'},NaN,NaN,2025-09-04 13:07:47
3,media/stories/202509/541949739_179147333071895...,1757002441,{'photo_metadata': {'exif_data': [{'device_id'...,@adelaide.sallas ðð,{'source_app': 'FB'},NaN,NaN,2025-09-04 12:14:01
4,media/stories/202509/541141665_179146118731895...,1756908305,{'photo_metadata': {'exif_data': [{'device_id'...,Come see me at 6 tonight out front of the sigm...,{'source_app': 'FB'},NaN,NaN,2025-09-03 10:05:05
5,media/stories/202509/541546732_179145557401895...,1756868136,{'photo_metadata': {'exif_data': [{'scene_capt...,Come visit me tomorrow at 6,{'source_app': 'FB'},NaN,NaN,2025-09-02 22:55:36
6,media/stories/202508/539455069_179135361481895...,1756094084,{'photo_metadata': {'exif_data': [{'device_id'...,,{'source_app': 'FB'},NaN,NaN,2025-08-24 23:54:44
7,media/stories/202508/538182030_179134739761895...,1756046618,{'photo_metadata': {'exif_data': [{'device_id'...,Find your people! I sure have! ððð,{'source_app': 'FB'},NaN,NaN,2025-08-24 10:43:38
8,media/stories/202508/533769874_179130070261895...,1755708046,{'photo_metadata': {'exif_data': [{'device_id'...,ððð,{'source_app': 'FB'},NaN,NaN,2025-08-20 12:40:46
9,media/stories/202508/AQMyfZR1Cu1msXDueQcVL8ZVL...,1755354095,{'video_metadata': {'exif_data': [{'device_id'...,Love them! ðð¤,{'source_app': 'FB'},[],[],2025-08-16 10:21:35

In [96]:
df_tidy.drop(columns = ['cross_post_source', 'dubbing_info', 'media_variants', 'media_metadata', 'uri'])

,creation_timestamp,title,Date of Like
0,1757031529,@alimcdonald.19 ðð,2025-09-04 20:18:49
1,1757018227,@itsss.jocy @alimcdonald.19 @_abigailkinney ...,2025-09-04 16:37:07
2,1757005667,@itsss.jocy ðð©·,2025-09-04 13:07:47
3,1757002441,@adelaide.sallas ðð,2025-09-04 12:14:01
4,1756908305,Come see me at 6 tonight out front of the sigm...,2025-09-03 10:05:05
...,...,...,...
82,1729640061,@itsss.jocy #ihavethebestbigever @sophiamart...,2024-10-22 19:34:21
83,1729518305,So much fun yesterday!,2024-10-21 09:45:05
84,1729308042,So glad to be a part of the VIP fam! Canât w...,2024-10-18 23:20:42
85,1729185502,,2024-10-17 13:18:22
86,1727057929,Thank you Caitlyn for showing me around today ...,2024-09-22 22:18:49

In [98]:
df_tidy.head(10)
# every time I try to get the first 10 rows to show up after dropping the columns above it reverts back to the original table without dropping the columns and I cannot figure out how to fix it.

,uri,creation_timestamp,media_metadata,title,cross_post_source,dubbing_info,media_variants,Date of Like
0,media/stories/202509/540566439_179147986951895...,1757031529,{'photo_metadata': {'exif_data': [{'device_id'...,@alimcdonald.19 ðð,{'source_app': 'FB'},NaN,NaN,2025-09-04 20:18:49
1,media/stories/202509/541196959_179147872441895...,1757018227,{'photo_metadata': {'exif_data': [{'device_id'...,@itsss.jocy @alimcdonald.19 @_abigailkinney ...,{'source_app': 'FB'},NaN,NaN,2025-09-04 16:37:07
2,media/stories/202509/542744242_179147712271895...,1757005667,{'photo_metadata': {'exif_data': [{'device_id'...,@itsss.jocy ðð©·,{'source_app': 'FB'},NaN,NaN,2025-09-04 13:07:47
3,media/stories/202509/541949739_179147333071895...,1757002441,{'photo_metadata': {'exif_data': [{'device_id'...,@adelaide.sallas ðð,{'source_app': 'FB'},NaN,NaN,2025-09-04 12:14:01
4,media/stories/202509/541141665_179146118731895...,1756908305,{'photo_metadata': {'exif_data': [{'device_id'...,Come see me at 6 tonight out front of the sigm...,{'source_app': 'FB'},NaN,NaN,2025-09-03 10:05:05
5,media/stories/202509/541546732_179145557401895...,1756868136,{'photo_metadata': {'exif_data': [{'scene_capt...,Come visit me tomorrow at 6,{'source_app': 'FB'},NaN,NaN,2025-09-02 22:55:36
6,media/stories/202508/539455069_179135361481895...,1756094084,{'photo_metadata': {'exif_data': [{'device_id'...,,{'source_app': 'FB'},NaN,NaN,2025-08-24 23:54:44
7,media/stories/202508/538182030_179134739761895...,1756046618,{'photo_metadata': {'exif_data': [{'device_id'...,Find your people! I sure have! ððð,{'source_app': 'FB'},NaN,NaN,2025-08-24 10:43:38
8,media/stories/202508/533769874_179130070261895...,1755708046,{'photo_metadata': {'exif_data': [{'device_id'...,ððð,{'source_app': 'FB'},NaN,NaN,2025-08-20 12:40:46
9,media/stories/202508/AQMyfZR1Cu1msXDueQcVL8ZVL...,1755354095,{'video_metadata': {'exif_data': [{'device_id'...,Love them! ðð¤,{'source_app': 'FB'},[],[],2025-08-16 10:21:35

# Section 10
- In a Markdown cell, describe what you think the data in the DataFrame represents, whether the DataFrame meets tidy principles, and whether the data can be used to test your hypothesis.
    - In the DataFrame that I created above, I believe the data represents both the Instagram reels that I interact with and the ones that I create. I think that my DataFrame almost meets the standard of the tidy principles. In the execution of this assignment, I struggled with getting it to organize to the first 10 rows after I dropped some of the columns, as well as trying to organize the table by a certain value. Unfortunately, I do not think that this data is what I wanted to test my hypothesis. I wanted more to find data that would show my views of Instagram stories and what time of day that I do that most, but I think this data is more about Instagram story interactions, including the stories that I create. I do not know if Instagram provides this kind of data and I was just not looking at the right file, but this did not work out to helping test my hypothesis.